body {
  background-color: #000;
}

h1 {
  font-family: constantia,georgia,serif;
  font-size: 36pt;
  text-align: center;
  line-height: 3em;
  color: #ccc;
}

@keyframes flash {
  0% {
    color: #00FF00;
  }
  100% {
    color: #ccc;
  }
}

@keyframes rainbowFlash {
  0%, 100% {
    color: red;
    text-shadow: 0 0 10px red;
  }
  14% {
    color: orange;
    text-shadow: 0 0 10px orange;
  }
  28% {
    color: yellow;
    text-shadow: 0 0 10px yellow;
  }
  42% {
    color: green;
    text-shadow: 0 0 10px green;
  }
  57% {
    color: blue;
    text-shadow: 0 0 10px blue;
  }
  71% {
    color: indigo;
    text-shadow: 0 0 10px indigo;
  }
  85% {
    color: violet;
    text-shadow: 0 0 10px violet;
  }
}

p {
  font-family: constantia,georgia,serif;
  font-size: 20pt;
  text-align: center;
  animation: flash 1s infinite;
  color: #ccc;
}

.sec{
  position: absolute;
  bottom: 8%;
  left: 2%;
}

.min{
  position: absolute;
  bottom: 8%;
  left: 40%;
}

.hour{
  position: absolute;
  bottom: 4%;
  left: 80%;
}

.totalsec{
  position: absolute;
  bottom: 2%;
  left: 2%;
}

.totalmin{
  position: absolute;
  bottom: 2%;
  left: 40%;
}

h2 {
  font-family: candara,verdana,sans-serif;
  font-size: 48pt;
  text-align: center;
  color: #ccc;
}

.Monday {
  color: #FF0000;
}

.Tuesday{
  color: #FF6B5E;
}

.Wednesday{
  color: #FFC2A6;
}

.Thursday{
  color: #C8FFB3;
}

.Friday{
  animation: rainbowFlash 1s infinite;
}

.Weekend{
  color: #00FF00;
}

.fridayFrog{
  visibility: hidden;
  width: 20%;
  height: 20%;
  position: absolute;
  bottom: 18%;
  left: 40%;
}

.wednesdayFrog{
  visibility: hidden;
  width: 20%;
  height: 30%;
  position: absolute;
  bottom: 18%;
  left: 40%;
}

.hidden-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 5s;
}

.hidden-image img {
  width: 100%;
  height: 100%;
}

.image-container:hover .hidden-image {
  opacity: 1;
}

#language-selection {
  position: fixed;
  top: 10px; /* Adjust this value to control the vertical position */
  right: 10px; /* Adjust this value to control the horizontal position */
}

.language-button {
  background: none;
  border: none;
  cursor: pointer;
  display: inline; /* Display the buttons inline */
  margin-right: 1px; /* Adjust the margin as needed for spacing */
}

.language-button img {
  width: 30px; /* Adjust this value to control the icon size */
  height: auto;
}